body{
    background-color: rgb 253, 251, 251;
}

#cabecalho{
    top: 0;
    background-color: rgb(33, 129, 33);
}

#minha_foto{
    max-width: 200px;
    max-height:230px;
    vertical-align: top
}

#lista{
    display: flex;
}
